html {
    background: linear-gradient(90deg, rgb(20, 0, 0) 0%, rgb(0, 4, 36) 100%);
    color: lime;
}
a {
    color: aqua;
}
body {
    margin: 0px;
    font-family: monospace;
    max-width: 100%;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
}

.learn {
    font-size: 9px;
}

.learn-small {
    font-size: 7px;
}

.skill-div {
    /*float:left;*/
    display: inline-block;
    width: 500px;
    vertical-align: top;
    max-width: min(400px, 100%);
    padding: 15px;
    text-decoration: none;
}

.skill-div-small {
    /*float:left;*/
    display: inline-block;
    width: 300px;
    vertical-align: top;
    max-width: min(250px, 100%);
    padding: 10px;
    text-decoration: none;
}
